@media screen and (max-width:420px){
body {
  max-height: auto;
  overflow-y: auto;
}

/* Top Text */

  .how  {
    flex-direction: column;
    left: 10vw;
    top: 3vh;
    width: 40vh;
  }

  .made {
    top: 140vh;
    left: 2vw;
    bottom: 10px;
    width: 40vh;
    margin-left: 20px;
    z-index: 1;
  }

  .wires {
    display: none;
  }

  .wrap {
    top: 235vh;
    left: 6vw;
    width: 40vh;
    z-index: 1;
  }

  .looped {
    display: none;
  }

  .wrap2 {
    top: 295vh;
    left: 6vw;
    width: 40vh;
    z-index: 1;
  }

  .made p , .wrap p , .wrap2 p {
    text-align: left;
    font-size: 16px;
  }

  .made img {
    display: inline;
    position: absolute;
    top: 40vh;
    left: 12vw;
  }

  .wrap img {
    display: inline;
    position: absolute;
    top: 70vh;
    left: -2vw;
  }

  .wrap2 img {
    display: inline;
    position: absolute;
    top: 45vh;
    left: 3vw;
  }

  .velcro {
    display: none;
  }

/* Cord */

  .ext-cord {
    top: 3vh;
    left: 20vw;
    flex-direction: column;
    animation: drop 3s ease;
  }

  .cord {
    top: 500vh;
    width: 30px;
    height: 4300px;
  }

  .cord h2 {
    position: absolute;
    top: 50vh;
    left: -8vw;
    width: 28vw;
    font-size: 20px;
    z-index: 1;
  }

  .cord p {
    position: absolute;
    top: 60vh;
    left: -10vw;
    width: 70vw;
    z-index: 1;
  }

  .cord h2 , .cord p {
    background: white;
    border: solid thin lightgray;
    border-radius: 20px;
    padding: 20px;
    color: black;
    animation: drop 3s ease;
  }

  #redo {
    margin-bottom: 100px;
  }

  .spons {
    display: absolute;
    top: 700vh;
    left: 60vw;
    width: 3vw;
  }

  .spons  h6 {
    /* font-size: 15px;
    text-align: right;
    text-decoration: none; */
    display: none;
  }

  .spons img {
  margin: 5px;
  width: 50px;
  }

/* LowerText */

  .where {
    flex-direction: column;
    width: 40vh;
    top: 455vh;
    left: 12vw;
  }

  .live {
    margin-left: 40px;
    left: 10vw;
    width: 40vh;
    z-index: 1;
  }

  .pix {
    display: grid;
    grid-template-columns: auto auto;
    left: 5vw;
    z-index: 1;
    background: linear-gradient(#FF6F00, #FF8F00);
    border-radius: 10px;
  }

  .pix img {
    height: 180px;
    border: solid thin #FF8F00;
    border-radius: 10px;
  }

  .pix img:hover {
    height: 300px;
  }

  .etc {
    left: 5vw;
    width: 40vh;
    z-index: 1;
  }

    .live p , .etc p {
      font-size: 16px;
      text-align: left;
    }

}
