html, body {
  font-family: "helvetica", sans-serif;
  margin: 10px;
  padding: 10px;
}

#logo {
  position: absolute;
  right: 15px;
  top: 10px;
}

#logo img {
  height: 111px;
}

#logo img:hover {
  animation: grow 4s ease;
}

a:link, a:visited {
  color: black;
  text-decoration: none
}

a:hover, a:active {
  color: black;
  text-decoration: none
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
}

@keyframes slide {
    0% {transform:translateX(5vw);}
    100% {transform:translateX(0vw);}
}
@keyframes grow {
    0% {transform:scale(1);}
    100% {transform:scale(6);}
}

@media screen and (max-width: 600px) {
  #logo img {
    height: 130px;
  }

  #logo img:hover {
    animation: none;
  }

}
