body {
  font-family: "helvetica", sans-serif;
  background-image: url('images/cord.jpg');
  margin: 10px;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  width: 5px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#FF6F00, #FF8F00);
}

.ext-cord {
    display: flex;
    flex-direction: row;
    background: transparent;
    align-items: center;
    position: absolute;
    left: 100px;
    top: 300px;
}

.plug {
  background: radial-gradient(#FF6F00, #FF8F00);
  border-radius: 50px;
  height: 140px;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}


.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.port {
  background: radial-gradient(black, gray);
  border-radius: 10px;
  width: .25px;
  height: .25px;
  padding: 20px;
  margin: 15px;
}

.port2 {
  background: radial-gradient(black, gray);
  border-radius: 20px;
  width: .25px;
  height: .25px;
  padding: 20px;
  margin: 15px;
}

.cord {
  background: linear-gradient(#FF6F00, #FF8F00);
  height: 30px;
  width: 12000px;
  color: black;
}

.wallplug {
  background: radial-gradient(#FF6F00, #FF8F00);
  border-radius: 50px;
  height: 140px;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.wallplug a:active , a:hover , a:visited{
  color: gray;
  text-decoration: none;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pin {
  background: linear-gradient(-90deg ,lightgray, gray);
  border-radius: 10px;
  width: .5px;
  height: .5px;
  padding: 20px;
  margin: 15px;
}

.pin2 {
  background: radial-gradient(lightgray, gray);
  border-radius: 20px;
  width: .25px;
  height: .25px;
  padding: 20px;
  margin: 15px;
}

footer {
  position: fixed;
  bottom: 20px;
  left: 10px;
}

footer > a {
    border: gray solid thin;
    padding: 5px;
    color: gray;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
