body {
  font-family: "helvetica", sans-serif;
  margin: 10px;
  padding: 10px;
  background: whitesmoke;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  width: 5px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#FF6F00, #FF8F00);
}

/* Top Info */

.how {
    display: flex;
    flex-direction: row;
    background: transparent;
    align-items: center;
    position: absolute;
    left: 45vw;
    top: 4vh;
    height: 300px;
    animation: drop 3s ease;
    transition: 1s;
}

.made {
  padding: 20px;
  position: absolute;
  bottom: 10px;
  width: 500px;
}

.made p , .wrap p , .wrap2 p {
  font-size: 18px;
  letter-spacing: 3px;
  text-align: justify;
}

/* Wires */

.wires {
  padding: 20px;
  background: transparent;
  position: relative;
  left: 850px;
  top: 60px;
  height: 300px;
}

.red {
  background: red;
  position: absolute;
  left: 10px;
  width: 30px;
  height: 170px;
  z-index: 2;
  border-radius: 20px;
  border: thin solid lightgray;
  transform: skewY(50deg) rotate(-50deg);
}

.blue {
  background: blue;
  position: absolute;
  left: 10px;
  width: 30px;
  height: 170px;
  z-index: 2;
  border-radius: 20px;
  border: thin solid lightgray;
  transform: skewY(50deg) rotate(-60deg);
}

.yellow {
  background: yellow;
  position: absolute;
  left: 10px;
  width: 30px;
  height: 170px;
  z-index: 1;
  border-radius: 20px;
  border: thin solid lightgray;
  transform: skewY(50deg) rotate(-40deg);
}

.orange {
  background: orange;
  position: absolute;
  left: 10px;
  width: 30px;
  height: 170px;
  z-index: -1;
  border-radius: 20px;
  border: thin solid lightgray;
  transform: skewY(50deg) rotate(-30deg);
}

.wrap {
  padding: 20px;
  position: relative;
  left: 1200px;
  bottom: 10px;
  width: 500px;
}

.wrap2 {
  padding: 20px;
  position: relative;
  left: 2500px;
  bottom: 10px;
  width: 500px;
}

/* Loop Wrap */

.looped {
  padding: 20px;
  background: transparent;
  position: relative;
  left: 1800;
  top: 10px;
  height: 300px;
}

.loopcord1 {
  background: red;
  position: relative;
  left: 1640px;
  bottom: 15px;
  height: 160px;
  width: 30px;
  border-radius: 20px;
  border: thin solid lightgray;
}

.loopset1 {
  background: transparent;
  position: absolute;
  top: 40px;
  left: 1650px;
  height: 60px;
}

.loopset2 {
  background: transparent;
  position: absolute;
  top: 60px;
  left: 1740px;
  height: 20px;
  z-index: 1;
}

.loopset3 {
  background: transparent;
  position: absolute;
  top: 80px;
  left: 1840px;
  height: 60px;
  z-index: 2;
}

.blueloop {
  background: blue;
  position: absolute;
  left: 20px;
  width: 210px;
  height: 210px;
  border-radius: 100px;
  border: thin solid lightgray;
}

.redloop {
  background: red;
  position: absolute;
  left: 10px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: thin solid lightgray;
}

.yellowloop {
  background: yellow;
  position: absolute;
  left: 30px;
  width: 190px;
  height: 190px;
  border-radius: 100px;
  border: thin solid lightgray;
}

.orangeloop {
  background: orange;
  position: absolute;
  left: 40px;
  width: 170px;
  height: 170px;
  border-radius: 100px;
  border: thin solid lightgray;
}

.circle1 {
  background: whitesmoke;
  position: absolute;
  left: 45px;
  top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  z-index: 1;
}

.circle2 {
  background: whitesmoke;
  position: absolute;
  left: 45px;
  top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  z-index: 2;
}

.circle3 {
  background: whitesmoke;
  position: absolute;
  left: 45px;
  top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  z-index: 2;
}

.loopcord2 {
  background: blue;
  position: relative;
  left: 2020px;
  bottom: 120px;
  height: 110px;
  width: 30px;
  z-index: 1;
  border-radius: 20px;
  border: thin solid lightgray;
}

/* Strap Wrap */

.velcro {
  background: transparent;
  padding: 20px;
  position: relative;
  left: 3000px;
  top: 60px;
  height: 300px;
}

.redvelcro {
  background: red;
  position: absolute;
  left: 10px;
  width: 25px;
  height: 180px;
  z-index: 2;
  border-radius: 20px;
  border: thin solid lightgray;
  transform: skewY(-60deg) rotate(-265deg);
}

.bluevelcro {
  background: blue;
  position: absolute;
  left: 10px;
  width: 25px;
  height: 185px;
  z-index: 2;
  border-radius: 20px;
  border: thin solid lightgray;
  transform: skewY(-60deg) rotate(-255deg);
}

.yellowvelcro {
  background: yellow;
  position: absolute;
  left: 10px;
  width: 25px;
  height: 175px;
  z-index: 1;
  border-radius: 20px;
  border: thin solid lightgray;
  transform: skewY(-60deg) rotate(-280deg);
}

.orangevelcro {
  background: orange;
  position: absolute;
  left: 10px;
  width: 25px;
  height: 180px;
  z-index: -1;
  border-radius: 20px;
  border: thin solid lightgray;
  transform: skewY(-60deg) rotate(-245deg);
}

.strap {
  background: black;
  position: absolute;
  left: 10px;
  bottom: 210px;
  width: 30px;
  height: 35px;
  z-index: 3;
  border: thin dashed lightgray;
  border-radius: 10px;
  transform: rotate(120deg);
}

/* Big Cord */

.ext-cord {
    display: flex;
    flex-direction: row;
    background: transparent;
    align-items: center;
    position: absolute;
    left: 100px;
    top: 300px;
}

.length {
  background: gray;
  border: thin solid lightgray;
  border-radius: 50px;
  margin: 20px;
  padding: 20px;
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
  opacity: .5;
}

.length:hover {
  opacity: 1;
  transition: 2s;
  padding: 10px;
}

/* First Plug */

.plug {
  background: radial-gradient(#FF6F00, #FF8F00);
  border-radius: 50px;
  height: 140px;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  z-index: 1;
  cursor: pointer;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.port {
  background: radial-gradient(black, gray);
  border-radius: 10px;
  width: .25px;
  height: .25px;
  padding: 20px;
  margin: 15px;
}

.port2 {
  background: radial-gradient(black, gray);
  border-radius: 20px;
  width: .25px;
  height: .25px;
  padding: 20px;
  margin: 15px;
}

/* Cord */

.cord {
  background: linear-gradient(#FF6F00, #FF8F00);
  height: 35px;
  width: 5000px;
}

.cord h2 {
  color: whitesmoke;
  font-size: 25px;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 0;
  letter-spacing: 3px;
}

.cord p {
  color: black;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 3px;
}

/* Wall Plug */

.wallplug {
  background: radial-gradient(#FF6F00, #FF8F00);
  border-radius: 50px;
  height: 140px;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  z-index: 1;
  cursor: pointer;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pin {
  background: linear-gradient(-90deg ,lightgray, gray);
  border-radius: 10px;
  width: .5px;
  height: .5px;
  padding: 20px;
  margin: 15px;
}

.pin2 {
  background: radial-gradient(lightgray, gray);
  border-radius: 20px;
  width: .25px;
  height: .25px;
  padding: 20px;
  margin: 15px;
}

#redo {
  background: lighgray;
  border-radius: 60px;
  margin-left: 20px;
  margin-right: 50px;
  padding: 20px;
  height: 135px;
  width: 140px;
  opacity: .9;
}

.redo  {
   padding: 20px;
   background: white;
   border-radius: 60px;
   height: 120px;
   width: 120px;
}


.spons {
  margin: 10px;
  margin-top: 50px;
  position: absolute;
  right: 20px;
  top: 300px;
  text-align: right;
}

/* Bottom Info */

.where {
    display: flex;
    flex-direction: row;
    background: transparent;
    align-items: center;
    position: absolute;
    left: 75vw;
    bottom: 5vh;
    height: 300px;
    animation: run 3s ease;
    transition: 1s;
}

.live {
  width: 1000px;
}

.pix {
  display: flex;
  padding: 20px;
  position: relative;
  left: 500px;
}

.pix img {
  margin: 5px;
}

.etc {
  padding: 20px;
  position: relative;
  left: 1000px;
  width: 1000px;
}

.live p , .etc p {
  font-size: 18px;
  letter-spacing: 3px;
  text-align: justify;
}

@keyframes drop {
  0{transform: translateY(0vh);}
  100%{transform: translateY(2vh);}
}

@keyframes run {
  0{transform: translateX(0vw);}
  100%{transform: translateX(-2vw);}
}

footer {
  position: fixed;
  bottom: 20px;
  left: 10px;
}

footer > a {
    border: gray solid thin;
    padding: 5px;
    color: gray;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

@media screen (max-width:420px){
  .how  {
    left: 10vw;
    height: 33%;
  }

  .ext-cord {
    height: 33%;
  }

  .where {
  left: 10vw;
  height: 33%;
  }
}
