body {
  font-family: "helvetica", sans-serif;
  margin: 10px;
  padding: 10px;
  background: blue;
}

div {
  background: blue;
  text-align: center;
  height: 600px;
}

h1, h1>a {
  background: blue;
  margin: 0px;
  padding: 10px;
  font-style: italic;
  font-size: 50px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

p {
  font-size: 20px;
  color: white;
  background: red;
  padding: 20px;
  margin: 0px:
}

h3, a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: blue;
  color: whitesmoke;
}

img {
  width: 70px;
}

.topbar {
  display: flex;
  flex-direction: row;
}

.responses {
  display: scroll;
}
