body {
  font-family: "helvetica", sans-serif;
  margin: 10px;
  padding: 10px;
  background: whitesmoke;
}

div {
  margin: 5px;
  padding: 0 10px;
  background: whitesmoke;
  align-content: center;
  text-align: justify;
}

h1 {
  background: whitesmoke;
  font-size: 50px;
  font-weight: normal;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 3px;
  color: gray;
}

p {
  font-size: 20px;
  color: gray;
  background: red;
  padding: 20px;
  margin: 0px:
}

h3, a {
  margin: 3px;
  font-size: 30px;
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: whitesmoke;
  color: lightgray;
  border: lightgray solid thin;

}

img {
  margin-top: 20px;
  padding: 5px;
  width: 80px;
}

.topbar {
  display: flex;
  flex-direction: row;
}

.projects{
  width: 60vw;
}
.exercises {
  width: 40vw;
}

.responses {
  /* display: scroll; */
  width: 95vw;
}

.responses > h3 > a {
    border: gray solid thin;
    padding: 5px;
}

.projects:hover, .exercises:hover , .responses:hover {
  border: gray dashed thin;
  border-radius: 20px;
}
/* .projects:hover, .exercises:hover , .responses:hover h1 {
  background: white;
  color: blue;
} */

footer > a {
    border: gray solid thin;
    padding: 5px;
}

@media screen and (max-width:600px;) {
  .topbar {
    flex-direction: column;
  }
  .responses {
    display: inline;
  }

}
