.hover-img {
  display: none;
  /* opacity: 1; */
}

.hoverme:hover  hover-img {
  display: inline;
  /* opacity: 6; */
  top: 30%;
  right: 20%;
}

.btn {
  padding: 30px;
  background: yellow;
  position: absolute;
}

.btn:hover {
  background: orange;
  transition: 2s ease-in-out;
}

.prev-btn {
  left: 0px;
}

.next-btn {
  right: 0px;
}
