.hover-img {
  /* display: none; */
  opacity: 0;
}

.hover-btn:hover  .hover-img {
  /* display: block; */
  opacity: 6;
  top: 30%;
  right: 20%;
}

.btn {
  padding: 30px;
  background: yellow;
  position: absolute;
  transition: 2s ease-in;
  transform: 3s ease;
}

.btn:hover {
  background: orange;
  transform: scale(1.5);
}

.prev-btn {
  left: 0px;
}

.next-btn {
  right: 0px;
}
