html {
  background: whitesmoke;
}

body {
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  color: white;
}

a {
  color: whitesmoke;
}

.hover-img {
  display: none;
  /* opacity: 0; */
}

.hover-btn {
  margin: 10px;
  padding: 10px;
  position: fixed;
  top: 60px;
  left: 650px;
  background: blue;
  border-radius: 50px;
  height: 175px;
  justify-content: space-around;
  align-items: center;
}

.hover-btn:hover {
  background: transparent;
  border: dashed blue;
  width: 1350px;
  left: 25px;
}

.hover-btn:hover .hover-img {
  display: inline;
  /* opacity: 6; */
  top: 30%;
  right: 20%;
}

.btn {
  padding: 30px;
  background: blue;
  border-radius: 20px;
  position: absolute;
  transition: 2s ease-in;
  transform: 3s ease;
  text-decoration: none;
  top: 50%;
}

.btn:hover {
  background: transparent;
  border: blue solid;
  border-radius: 0px;
  transform: scale(1.5);
  color: blue;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
