body {
  font-family: sans-serif , "helvetica";
  margin: 0;
  max-height: 100vh;
  overflow-y: hidden;
}

 .button {
  margin: 10px;
  position: absolute;
  top:10px;
  left: 10px;
  width: 100px;
  background: red;
  border: thin solid red;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  color: white;
  text-align: center;
  text-transform: uppercase;

}

.button:hover {
 background: whitesmoke;
 color: red;
}

.open {
  transform: translateX(-310px);
  }

  #box {
    position: fixed;
    height: 30vh;
    width: 200px;
    top: 10px;
    right: -300px;
    background-color: blue;
    border: solid blue;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    transition: transform 1s ease;
    z-index: 2;
  }

  #box a {
    color: white;
    text-decoration: none;
  }

  #box:hover {
    background-color: white;
  }

  #box:hover a {
    color: blue;
  }

  .instruct {
    position: absolute;
    top: 10px;
    left: 40vw;
    text-align: center;
    text-transform: uppercase;
  }

marquee {
    background: transparent;
    position: absolute;
    top: 15vh;
    right: 0vw;
    z-index: 1;
  }

  @media screen and (max-width: 420px) {
  }
