body {
  font-family: sans-serif, "helvetica";
  margin: 0;
  max-height: 100vh;
  overflow-y: hidden;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, lightgray);
  height: 5px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, blue);
}

.content {
  margin: 10px;
  position: absolute;
  top: 5vh;
  left: 0;
  height: 90%;
  width: 98%;
  border: solid blue;
  border-radius: 20px;
}

.buttons {
  position: fixed;
  padding: 3px;
  margin: 10px;
  width: 95vw;
  height: 1.2vw;
  top: 0;
  left: 3vh;
  display: flex;
  background: whitesmoke;
  border-radius: 5px;
  opacity: 70%;
}
.buttons:hover {
  opacity: 100%;
  background: lightgray;
  animation: drop 3s;
  border-bottom: solid thin whiesmoke;
}
.btn1 {
  height: .9vw;
  width: .9vw;
  margin: .5px;
  padding: .2px;
  background: red;
  border: solid rgb(212, 212, 212) thin;
  border-radius: 50%;
  font-size: 9px;
  text-align: right;
}
.btn2 {
  height: .9vw;
  width: .9vw;
  margin: .5px;
  padding: .2px;
  background: yellow;
  border: solid rgb(212, 212, 212) thin;
  border-radius: 50%;
  font-size: 9px;
  text-align: right;
}
.btn3 {
  height: .9vw;
  width: .9vw;
  margin: .5px;
  padding: .2px;
  background: green;
  border: solid rgb(212, 212, 212) thin;
  border-radius: 50%;
  font-size: 9px;
  text-align: right;
}
.buttons:hover .btn1 , .btn2 , .btn3 {
  color: rgb(212, 212, 212);
}

.intro {
  margin: 10px;
  position: absolute;
  top: 12vh;
  left: 15vw;
  width: 800px;
  height: 425px;
  background: transparent;
  border: solid blue;
  border-radius: 20px;
  padding: 10px;
  color: blue;
  font-size: 25px;
  text-align: left;
  text-transform: uppercase;
  line-height: 30px;
  z-index: 1;
  overflow-x: hidden;
  overflow-x: auto;
}

.intro a{
  text-decoration: none;
  color: blue;
}

.intro a:hover{
  background: blue;
  border-radius: 20px;
  padding: 4px;
  color: white;
}

span {
  font-weight: bolder;
}

h4 {
  display: none;
}

/* div:hover h4 {
  display: block;
  background: blue;
  border-radius: 20px;
  padding: 8px;
  color: white;
  text-align: right;
  height: 25px;
} */

.menu-button {
  margin: 10px;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 100px;
  background: red;
  border: solid red;
  border-radius: 20px;
  padding: 4px;
  cursor: pointer;
  color: white;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.menu-button:hover {
  background: white;
  color: red;
}

.menu-open {
  transform: translateY(50vh);
}

#menu {
  position: fixed;
  height: 30vh;
  width: 200px;
  top: -35vh;
  left: 22px;
  background-color: blue;
  border: solid blue;
  border-radius: 20px;
  color: white;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  transition: transform 1s ease;
  z-index: 2;
}

#menu a {
  color: white;
  text-decoration: none;
  /* font-weight: lighter; */
  letter-spacing: 5px;
  cursor: pointer;
}

#menu:hover {
  background-color: white;
}

#menu:hover a {
  color: blue;
}

#menu a:hover {
  background: blue;
  border-radius: 20px;
  padding: 4px;
  color: white;
}

.about-open {
  transform: translateX(-570px);
}

#about {
  position: fixed;
  height: 25%;
  width: 520px;
  top: 10px;
  right: -560px;
  background-color: white;
  border: solid red;
  border-radius: 20px;
  padding: 10px;
  color: red;
  font-size: 25px;
  text-align: right;
  text-transform: uppercase;
  line-height: 30px;
  transition: transform 1s ease;
  z-index: 2;
  overflow-x: hidden;
  overflow-x: auto;
}

#about-menu a {
  text-decoration: none;
  padding: 4px;
  color: red;
}

#about-menu a:hover {
  background: red;
  border-radius: 20px;
  color: white;
}

.work-open {
  transform: translateX(-730px);
}

#work {
  display: grid;
  grid-template-columns: 140px 140px 140px 140px 140px;
  grid-template-rows: auto auto;
  position: fixed;
  height: 77%;
  width: 700px;
  top: 10px;
  right: -720px;
  background-color: white;
  border: solid orange;
  border-radius: 20px;
  padding: 10px 5px;
  color: orange;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  transition: transform 1s ease;
  z-index: 2;
  overflow-x: hidden;
  overflow-x: auto;
}

#work img {
  height: 200px;
  width: 130px;
}

#work-menu a {
  text-decoration: none;
  padding: 4px;
  color: orange;
}

#work-menu a:hover {
  background: orange;
  border-radius: 20px;
  color: white;
}

.play-open {
  transform: translateX(-830px);
}

#play {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 220px 220px;
  position: fixed;
  height: 82%;
  width: 800px;
  top: 10px;
  right: -820px;
  background-color: white;
  border: solid pink;
  border-radius: 20px;
  padding: 10px 5px;
  color: pink;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  transition: transform 1s ease;
  z-index: 2;
  overflow-x: hidden;
  overflow-x: auto;
}

#play img {
  height: 200px;
  width: 150px;
}

/* #play img:hover {
  animation: grow 3s ease;
  transition: 1s;
} */

#play-menu a {
  text-decoration: none;
  padding: 4px;
  color: pink;
}

#play-menu a:hover {
  background: pink;
  border-radius: 20px;
  color: white;
}

.contact-open {
  transform: translateX(-330px);
}

#contact {
  position: fixed;
  height: 12vh;
  width: 200px;
  top: 25px;
  right: -300px;
  background-color: white;
  border: solid blue;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  line-height: 25px;
  transition: transform 1s ease;
  z-index: 2;
}

#contact a {
  color: blue;
  text-decoration: none;
  letter-spacing: 5px;
}

#contact a:hover {
  background: blue;
  border-radius: 20px;
  padding: 5px;
  color: white;
}

marquee {
  background: transparent;
  position: absolute;
  top: 15vh;
  right: 0vw;
  z-index: 1;
}

/* @keyframes grow {
  0%{transform: scale(0);}
  100%{transform: scale(1.5);}
} */

@media screen and (max-width: 420px) {}
